num_prev_utterances 	400
dropout             	0.50
rnn                 	gru
rnn_hidden_size     	300
num_encoder_hidden_layers	10
num_decoder_hidden_layers	10
bidirectional       	True
train_embeddings    	False
set_decoder_hidden  	True
load_dataset            True
num_epochs              2
batch_size              40
